---
import { SITE_TITLE } from "@constants/common";
import SocialLinks from "./SocialLinks.astro";
---

<header>
  <nav>
    <h2><a href="/posts">{SITE_TITLE}</a></h2>
    <SocialLinks />
  </nav>
</header>
