---
import BaseHead from "@components/layout/BaseHead.astro";
import Header from "@components/layout/Header.astro";
import Footer from "@components/layout/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants/common";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  ogImage = "/og.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="bg-white text-neutral-950">
    <Header />
    <main class="max-w-6xl w-full m-auto px-3 py-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>
